ul.breadcrumbs
    li(itemscope, itemtype="http://data-vocabulary.org/Breadcrumb")
        a(href="#", itemprop="url"): span(itemprop="title") Главная
    li.active(itemscope, itemtype="http://data-vocabulary.org/Breadcrumb"): span(itemprop="title")= title
ul.breadcrumbs-mob
    li: i.icon.icon-left_arrow_nav
    li
       a(href="#") Назад