form
    .row
        .item.cell.cell__md-4.cell__sm-6.cell__xs-12
            +fieldInput('text', 'countryf', 'countryf', 'Страна', 'Страна', false)
        .item.cell.cell__md-4.cell__sm-6.cell__xs-12
            +fieldInput('text', 'cityf', 'cityf', 'Город', 'Город', false)
        .item.cell.cell__md-4.cell__sm-6.cell__xs-12
            +fieldInput('text', 'streetf', 'streetf', 'Улица', 'Улица', false)
        .item.cell.cell__md-4.cell__sm-6.cell__xs-12
            fieldset
                select.control.control-hard
                    option(default)
                    option Dropdown
                    option Dropdown Hover
                    option Dropdown Selected
                    option Dropdown Disabled
                label.label-hard Расположение
        .item.cell.cell__md-4.cell__sm-6.cell__xs-12
            fieldset
                select.control.control-hard(multiple)
                    option Кофейни
                    option Бары
                    option Кофейни
                    option Бары
                    option Кофейни
                    option Бары
                    option Кофейни
                    option Бары
                label.label-hard Тип заведения
        .item.cell.cell__md-4.cell__sm-6.cell__xs-12
            fieldset
                select.control.control-hard
                    option(default)
                    option Dropdown
                    option Dropdown Hover
                    option Dropdown Selected
                    option Dropdown Disabled
                label.label-hard Кухня
        .item.cell.cell__md-4.cell__sm-6.cell__xs-12
            fieldset
                select.control.control-hard
                    option(default)
                    option Dropdown
                    option Dropdown Hover
                    option Dropdown Selected
                    option Dropdown Disabled
                label.label-hard Режим работы
        .item.cell.cell__md-4.cell__sm-6.cell__xs-12
            fieldset
                select.control.control-hard
                    option(default)
                    option Dropdown
                    option Dropdown Hover
                    option Dropdown Selected
                    option Dropdown Disabled
                label.label-hard Доставка
        .item.cell.cell__lg-2.cell__md-4.cell__sm-6.cell__xs-12
            button.btn.btn--primary.btn--full(type="submit") Подобрать