.navbar
    nav.nav.cell__lg-9.cell__md-10(itemscope, itemtype="http://schema.org/SiteNavigationElement")
        if adaptive == true
            button.main-nav__toggle.main-nav__toggle--js
                i.icon.icon-menu_mobile_icon
            .main-nav__collapse
                .main-nav
                    button.main-nav__toggle.main-nav__toggle--closed.main-nav__close--js: i.icon.icon-close_menu_mobile_icon
                ul.main-nav
                    li.main-nav__item.active
                        a.main-nav__link(href="#") О компании
                    li.main-nav__item
                        a.main-nav__link(href="#") Для бизнеса
                    li.main-nav__item
                        a.main-nav__link(href="#") Партнерам
                    li.main-nav__item
                        a.main-nav__link(href="#") Новости
                    li.main-nav__item
                        a.main-nav__link(href="#") Помощь
                    li.main-nav__item
                        a.main-nav__link(href="#") Контакты
                    li.main-nav__item
                        a.main-nav__link(href="#") Карты мира
                    li.main-nav__item
                        a.main-nav__link(href="#"): img(src="images/mycom.png", alt="")
                        ul.sub-nav
                            li.main-nav__item
                                a.main-nav__link(href="")
                                    img(src="images/gamepad.png", alt="")
                                    | Games
                            li.main-nav__item
                                a.main-nav__link(href="")
                                    img(src="images/mail.png", alt="")
                                    | Games
        else
            ul.main-nav
                li.main-nav__item.active
                    a.main-nav__link(href="#") О компании
                li.main-nav__item
                    a.main-nav__link(href="#") Для бизнеса
                li.main-nav__item
                    a.main-nav__link(href="#") Партнерам
                li.main-nav__item
                    a.main-nav__link(href="#") Новости
                li.main-nav__item
                    a.main-nav__link(href="#") Помощь
                li.main-nav__item
                    a.main-nav__link(href="#") Контакты
                li.main-nav__item
                    a.main-nav__link(href="#") Карты мира
                li.main-nav__item
                    a.main-nav__link(href="#"): img(src="images/mycom.png", alt="")
                    ul.sub-nav
                        li.main-nav__item
                            a.main-nav__link(href="")
                                img(src="images/gamepad.png", alt="")
                                | Games
                        li.main-nav__item
                            a.main-nav__link(href="")
                                img(src="images/mail.png", alt="")
                                | Games
        .logo-mobile
            .page-header__logo
                a(href="/")
                    span
                        img(src="images/maps_me_logo.svg", alt="MapsMe")
                    | Maps.me
    .info
        .search-mobile.search-mobile--js
            a(href="#"): i.icon.icon-search_mobile_icon
        .search-mobile__body
            form(action="", method="post")
                .form__group
                    +fieldInput('text', 'countryh', 'countryh', 'Страна', 'Страна', false)
                .form__group
                    +fieldInput('text', 'cityh', 'cityh', 'Город', 'Город', false)
                .form__group
                    fieldset
                        select.control.control-hard
                            option(default)
                            option Банк
                            option Кафе
                            option Продукты
                        label.label-hard Категория
                .text--center
                    button.btn.btn--primary.btn--long(type='submit') Найти
        .lang
            a#dLabel(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                img.lang-img(src="images/ru.png", alt="")
                | ru
            .dropdown-menu(aria-labelledby="dLabel")
                .dropdown-menu__item
                    p.active: a(href="#") #[img(src="images/ru.png", alt="")] Русский
                    p: a(href="#") #[img(src="images/gb.png", alt="")] English
                    p: a(href="#") #[img(src="images/de.png", alt="")] Deutsch
                .dropdown-menu__item
                    p: a(href="#") #[img(src="images/ru.png", alt="")] Русский
                    p: a(href="#") #[img(src="images/gb.png", alt="")] English
                    p: a(href="#") #[img(src="images/de.png", alt="")] Deutsch