ul.pagination
    li.pagination__item.pagination__item--arr
        a(href='#'): i.icon.icon-left_arrow_nav
    - for (var x = 1; x < 3; x++)
        li.pagination__item
            a(href='#')= x
    li.pagination__item.active
        a(href='#') 3
    li.pagination__item.pagination__item--arr
        a(href='#'): i.icon.icon-right_arrow_nav