//popups
#success.mfp-hide.white-popup.mfp-xs
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-close_popup_mobile_icon
    .text--center
        p.text__lg.text--primary Изменения успешно сохранены!


#addcom.mfp-hide.white-popup.mfp-md
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-close_popup_mobile_icon
    .text--center
        h2 Отзыв о ресторане
    .form__group
        +fieldTextarea('text', 'textw', '', 'Ваш отзыв', 3, false)
    .cell__md-7
        .form__group
            +fieldInput('text', 'name', 'namew', 'Ваше имя', true)
    .form__group
        ul.list--inline
            li.text__sm Ваша оценка:
            li
                .star-rating
                    .star-rating__wrap
                        input.star-rating__input#star-rating-5(type="radio", name="rating")
                        label.star-rating__ico(for="star-rating-5"): i.f-icons.f-icons--star
                        input.star-rating__input#star-rating-4(type="radio", name="rating")
                        label.star-rating__ico(for="star-rating-4"): i.f-icons.f-icons--star
                        input.star-rating__input#star-rating-3(type="radio", name="rating")
                        label.star-rating__ico(for="star-rating-3"): i.f-icons.f-icons--star
                        input.star-rating__input#star-rating-2(type="radio", name="rating")
                        label.star-rating__ico(for="star-rating-2"): i.f-icons.f-icons--star
                        input.star-rating__input#star-rating-1(type="radio", name="rating")
                        label.star-rating__ico(for="star-rating-1"): i.f-icons.f-icons--star
    .text--center
        a.btn.btn--primary(href="#") Отправить



#call-id.mfp-hide.white-popup-block.mfp-xs
    a.close.popup-modal-dismiss(href="#"): i.icon.icon-close_popup_mobile_icon
    h3 Обратный звонок
    .form__group
        +fieldInput('text', 'name', 'nameq', 'Ф.И.О. *', true)
    .form__group
        +fieldInput('text', 'phone', 'phoneq', 'Ваш телефон *', true)
    .form__group
        fieldset
            select.select-hard.form-control
                option(default)
                option Санкт-Петербург
                option Санкт-Петербург
                option Санкт-Петербург
                option Санкт-Петербург
            label.label-hard Город
    .form__group
        +fieldTextarea('text', 'textq', '', 'Ваше сообщение', 4, false)
    .form__group.text--center
       a.btn.btn--transparent(href="#") Заказать звонок
//popups