section.mm-subbanner.hidden__xs
    .container
        h1 Cвобода путешествовать!
        ul.list--inline
            li: a(href="#"): img(src="images/google-play-m.png", alt="")
            li: a(href="#"): img(src="images/app-store-m.png", alt="")
        h6: a(href="#") Все устройства