//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  font-size: 14px;
  position: relative;
  color: #f8f8f8;
  background: url("../images/footer_bg.png") no-repeat top right 100%, #212121;
  @media screen and (min-width: $screen-adaptive-nav) {
    padding-bottom: 15px;
    background: url("../images/footer_bg.png") no-repeat top right 13%, #212121;
  }
  .main-nav__item {
    display: inline-block;
    width: 49%;
    @media screen and (min-width: $screen-adaptive-nav) {
      width: auto;
    }
  }
  .main-nav__link, a {
    color: #f8f8f8;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 400;
    font-family: "helveticaneuecyrroman";
    &:hover {
      color: #4bdc50;
    }
  }
  .active > .main-nav__link {color: #4bdc50;}
  .main-nav__toggle {
    color: $color-type-4a;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
    i {
      color: $color-type-4a;
      font-size: 16px;
      margin-right: 15px;
    }
    span {vertical-align: middle;}
  }
  nav.active {
    background-color: #212121;
    @media screen and (min-width: $screen-adaptive-nav) {
      background-color: transparent;
    }
    .icon-menu_mobile_icon:before {
      content: "\e907";
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    font-weight:400;
    font-size: 12px;
    img {
      margin-right: 6px;
    }
  }
  .loadme {
    padding: 9px 0;
    @media screen and (min-width: $screen-adaptive-nav) {
      padding: 0;
    }
    a {
      display: flex;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: block;
      }
      @media screen and (min-width: $screen-lg-min) {
        align-items: end;
        justify-content: flex-end;
      }
    }
    span {
      flex: 0 0 0;
    }
  }
  i {vertical-align: middle;margin-right: 5px;}
  .social {
    :hover {
      .f-icons--vk::before {
        background-position: -53.6875em -0.3125em;
      }
      .f-icons--tw::before {
        background-position: -48.0625em -0.3125em;
      }
      .f-icons--fb::before {
        background-position: -13em -0.3125em;
      }
    }
  }
}