//
// Partials -> Header
// ------------------------------------

.fix {
  overflow: hidden;
  @media screen and (min-width: $screen-adaptive-nav) {
    overflow: visible;
  }
}

//
// Header
//
.page-header {
  &-top {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    @media screen and (min-width: $screen-adaptive-nav) {
      background-color: #f8f8f8;
      box-shadow: none;
      position: relative;
    }
    .page-header__logo {
      a {font-size: 16px;}
      img { max-height: 30px;}
      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    .container {
      position: relative;
    }
  }
  &-bottom {
    background-color: #ffffff;
    display: none;
    .inner {
      display: flex;
      align-items: center;
      @include justify-content__xs(space-between);
      margin: 0 -20px;
    }
    .item {
      @include flex-grow__xs(1);
      margin: 20px;
    }
    @media screen and (min-width: $screen-adaptive-nav) {
      display: block;
    }
    .control {
      @include border-radius(0);
      border: none;
      border-bottom: 1px solid #ebebeb;
      &:invalid {
        border-color: #ff6c6c;
        box-shadow:none;
      }
      &:hover {
        border-color: #acd8ff;
      }
      @include form-control-focus;
    }
    input {}
    .btn {
      @include border-radius(3px);
      box-shadow: none;
    }
  }
  &__logo {
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #374146;
      font-size: 23px;
      text-transform: uppercase;
      font-family: 'helveticaneuecyrroman';
      &:hover {text-decoration: none;}
    }
    //a {display: block;}
    img {
      max-width: inherit;
      vertical-align: middle;
      margin-right: 11px;
    }
  }
  &-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    @extend .section;
    padding: 3px 10px;
    display: none;
    @include justify-content__xs(space-between);
    @include align-items__xs(center);
    z-index: 8;
    &.fixed {
      display: flex;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    .dlink {
      text-transform: uppercase;
      font-size: 14px;
      text-decoration: underline;
    }
    i {
      color: #969696;
      font-size: 10px;
    }
    img {
      margin-right: 15px;
    }
    a:hover {
      text-decoration: none;
    }
  }
}
.search-mobile {
  font-size: 24px;
  padding: 0 15px;
  @media screen and (min-width: $screen-adaptive-nav) {
    display: none;
  }
  a:focus,
  a:active,
  a:hover {
    text-decoration: none;
  }
  &__body {
    display: none;
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding: 15px 10px;
    @media screen and (min-width: $screen-adaptive-nav) {
      display: none !important;
    }
  }
}
.logo-mobile {
  padding: 0 15px;
}
.info, .nav {
  display: flex;
  align-items: center;
}
.lang {
  background-color: #f8f8f8;
  padding: 16px 11px;
  height: 56px;
  @media screen and (min-width: $screen-adaptive-nav) {
    background-color: transparent;
    padding: 0;
    height: auto;
  }
  a {color: #969696;}
  &-img {
    margin-right: 20px;
    display: none;
    @media screen and (min-width: $screen-adaptive-nav) {
      display: inline-block;
    }
  }
}
//
// Main title
//

//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }