//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
} @else {
  header, main, footer {
    min-width: 320px;
  }
}

main {
  min-height: calc(100vh - 166px);
  margin-top: 56px;
  @media screen and (min-width: $screen-adaptive-nav) {
    margin-top: 0;
    min-height: calc(100vh - 223px);
  }
}

//custom css
.link {
  border-bottom: 1px dotted $link-color;
  &--disabled {
    color: #969696;
    border-color: #969696;
  }
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    border-color: transparent;
  }
}
img {
  vertical-align: middle;
}
.main-title {
  @extend .text--center;
  @extend .text__md--left;
  h1 {
    margin-top: 0;
  }
  small {
    color: #acd8ff;
    margin-left: 30px;
  }
}
.title {
  margin-top: 20px;
  margin-bottom: 20px;
  @media screen and (min-width: $screen-adaptive-nav) {
    margin-top: 40px;
  }
}
.pager {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
  list-style-type: none;
  @media screen and (min-width: $screen-md-min) {
    margin-top: 20px;
  }
  i {
    font-size: 24px;
    color: $base-color-main;
    vertical-align: middle;
    margin-right: 10px;
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: underline;
  }
}
//custom css

//
// Main container
//
.page-main { }



//tempaltes
.section {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.text-template {
  padding: 20px;
}
.contact-form {
  @extend .section;
  border-radius: 3px;
  padding: 20px;
}
//tempaltes

.mm {
  //mainclass
  &-subbanner {
    background: url("../images/banner_insize.jpg") no-repeat center center / cover;
    padding: 15px 0;
    text-align: center;
    h1 {
      margin-top: 0;
      font-size: 36px;
      font-weight: 400;
    }
    a {
      color: #ffffff;
      text-decoration: underline;
    }
  }
  &-banner {
    background: url("../images/main_banner_insize.jpg") no-repeat center center / cover;
    padding: 15px 0;
    @media screen and (min-width: $screen-adaptive-nav) {
      padding: 21px;
    }
    &__item {
      display: flex;
      align-items: center;
      h1 {
        margin: 0 0 0 15px;
        font-size: 18px;
        font-weight: 400;
        @media screen and (min-width: $screen-adaptive-nav) {
          font-size: 48px;
          margin: 0 0 0 30px;
        }
      }
      img {
        max-height: 44px;
        @media screen and (min-width: $screen-adaptive-nav) {
          max-height: inherit;
        }
      }
    }
    a {
      color: #ffffff;
      text-decoration: underline;
    }
    li {
      width: 49%;
      @media screen and (min-width: $screen-adaptive-nav) {
        width: auto;
      }
    }
    h2 {
      color: #343434;
      font-weight: 400;
      margin-top: 5px;
      font-size: 14px;
      @media screen and (min-width: $screen-adaptive-nav) {
        font-size: 24px;
      }
    }
  }
  //banner

  &-category {
    .cell {
      margin-bottom: 30px;
      max-width: 400px;
    }
    &__item {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      background-color: #ffffff;
      height: 100%;
      display: flex;
      flex-direction: column;
      @include transition();
      overflow: hidden;
      @media screen and (min-width: $screen-md-min) {
        padding-bottom: 5px;
      }
      &:focus,
      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        //transform: scale(1.05);
        .mm-category__item-img {
          //transform: scale(1.1);
        }
      }
      &-img {
        height: 80px;
        position: relative;
        @include border-top-radius(3px);
        @include transition();
      }
      &-ico {
        position: absolute;
        bottom: -40%;
        left: 0;
        right: 0;
        width: 64px;
        height: 64px;
        background-color: #ffffff;
        @include border-radius(65px);
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
      }
      &-title {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 65px;
        padding: 20px 10px 0;
        position: relative;
        @media screen and (min-width: $screen-md-min) {
          z-index: 1;
        }
        .active & {
          &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            margin-left: -6px;
            bottom: -12px;
            left: 50%;
            background-color: #fff;
            transform-origin: 0 0;
            transform: rotate(-45deg);
            box-shadow: inset -3px 3px 3px rgba(0, 0, 0, 0.05);
            @media screen and (min-width: $screen-md-min) {
              display: none;
            }
          }
        }
        h4 {
          margin: 0;
        }
        .active & {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          @media screen and (min-width: $screen-md-min) {
           box-shadow: none;
          }
        }
      }
      &-links {
        //display: none;
        max-height: 0;
        margin-top:auto;
        overflow: hidden;
        @include transition();
        .active & {
          //display: block;
          max-height: 500px;
        }
        @media screen and (min-width: $screen-md-min) {
          min-height: 234px;
          max-height: inherit;
        }
      }
      &-link {
        color: #212121;
        display: block;
        padding: 8px 15px 7px;
        color: #212121;
        &:hover {
          color: $base-color-main;
        }
        & + & {
          border-top: 1px solid #ebebeb;
        }
        &--mobile {
          display: block;
          @media screen and (min-width: $screen-md-min) {
            display: none;
          }
        }
      }
      &-alllink {
        text-align: center;
        color: $base-color-main;
        padding: 8px 15px 2px;
        border-top: 1px solid #ebebeb;
        display: none;
        @media screen and (min-width: $screen-md-min) {
          display: block;
        }
        &:hover {
          color: $base-color-main;
        }
      }
      &-openlink {
        border-top: 1px solid #ebebeb;
        padding: 8px 15px;
        text-align: center;
        color: #1e96f0;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          margin-left: -3px;
          top: 0;
          left: 50%;
          border-style: solid;
          border-width: 7px 6px 0 6px;
          border-color: #ebebeb transparent transparent transparent;
        }
        &::before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          margin-left: -3px;
          top: -1px;
          left: 50%;
          border-style: solid;
          border-width: 7px 6px 0 6px;
          border-color: #fff transparent transparent transparent;
          z-index: 1;
        }
        .active & {
          display: none;
        }
        @media screen and (min-width: $screen-md-min) {
          display: none;
        }
      }
      &-closelink {
        @extend .mm-category__item-alllink;
        padding: 8px 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          margin-left: -3px;
          top: 0;
          left: 50%;
          //box-sizing: border-box;
          border: 6px solid #fff;
          border-color: #fff #fff transparent transparent;
          transform-origin: 0 0;
          transform: rotate(-45deg);
          box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.05);
        }
        display: none;
        .active & {
          display: block;
        }
        @media screen and (min-width: $screen-md-min) {
          display: none;
        }
      }
    }
    .btn {
      width: 300px;
    }
  }
  //category

  &-type {
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
    h2 {
      margin-top: 0;
    }
    &--img {
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 20px;
    }
  }
  //type

  &-sitemap {
    &-main {
      font-size: 18px;
      font-weight: 500;
      a {
        color: #374146;
        display: block;
        margin: 5px 0;
      }
      .second {
        font-size: 16px;
        margin-left: 25px;
      }
      .third {
        font-weight: 300;
        margin-left: 15px;
      }
    }
  }
  //sitemap

  &-maps-world {
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
    h2 {
      margin-bottom: 25px;
    }
    &__category {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      padding: 8.5px 20px;
      .btn {
        margin: 12.5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  //maps-world

  &-maps-city {
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
    h2 {
      margin-bottom: 25px;
    }
    .mm-category__item-title {
      z-index: 1;
      min-height: 75px;
    }
  }
  //maps-city

  &-alphabet {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    a {
      color: #374146;
    }
    .active a {
      color: $color-type-4a;
    }
    li {
      display: inline-block;
      margin: 0 2px;
    }
  }
  //alphabet

  &-partners {
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
    h2 { margin-bottom: 25px; margin-top: 0;}
  }
  //partners

  &-business {
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
    h2 { margin-bottom: 25px; margin-top: 0;}
    &--nav {
      list-style-type: none;
      @extend .section;
      border-radius: 3px;
      margin-bottom: 25px;
      &__item {
        & + & {
          border-top: 1px solid #ebebeb;
        }
      }
      &__link {
        position: relative;
        padding: 10px 15px;
        display: block;
        color: #374146;
        border-right: 4px solid #fff;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -3.5px;
          right: -2px;
          border-style: solid;
          border-width: 3.5px 0 3.5px 3px;
          border-color: transparent transparent transparent #fff;
        }
        &:hover {
          text-decoration: none;
          color: $base-color-main;
        }
        .active & {
          color: $base-color-main;
          border-color: $base-color-main;
        }
      }
    }
  }
  //business

  &-filter {
    margin-bottom: 25px;
    @media screen and (min-width: $screen-adaptive-nav) {
      margin-bottom: 0;
    }
    &--title {
      font-size: 14px;
      text-transform: uppercase;
      color: #374146;
      cursor: pointer;
      position: relative;
      @extend .section;
      .inner {
        padding: 8px;
        display: flex;
        @include justify-content__xs(space-between);
        @include align-items__xs(center);
        @media screen and (min-width: $screen-adaptive-nav) {
          display: none;
        }
      }
    }
    &--body {
      @extend .section;
      padding: 7.5px 10px;
      display: none;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: block;
        padding: 12.5px 0;
      }
      .item {
        margin: 7.5px 0;
        @media screen and (min-width: $screen-adaptive-nav) {
          margin: 12.5px 0;
        }
        &:last-child {
          margin-left: auto;
          margin-right: auto;
          @media screen and (min-width: $screen-adaptive-nav) {
            margin-right: 0;
          }
        }
      }
    }
  }
  //filter

  &-cat {
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
    &--items {
      .cell {
        //max-width: 370px;
        margin-bottom: 25px;
      }
    }
    &--desc {
      @extend .section;
      padding: 20px;
      h2 {
        margin-top: 0;}
    }
    .item {
      @extend .section;
      border-radius: 3px;
      height: 100%;
      display: flex;
      flex-direction: column;
      &__img {
        @include border-top-radius(3px);
        text-align: center;
        img {
          width: 100%;}
      }
      &__title {
        text-align: center;
        padding: 15px;
      }
      &__desc {
        padding: 0 15px 15px;
        i {margin-right: 11px;}
        p {
          display: flex;
          @include justify-content__xs(flex-start);
          @include align-items__xs(baseline);
        }
        &-location {
          i {color: #0569af;}
        }
        &-type {
          i {color: #ff7805;}
        }
      }
      &__link {
        border-top: 1px solid #ebebeb;
        display: flex;
        @include justify-content__xs(space-between);
        @include align-items__xs(center);
        text-align: center;
        margin-top: auto;
        a {
          color: #969696;
          &:hover {text-decoration: none;color: #212121;}
        }
        div {
          padding: 10px;
          flex: 1 0 0;
          i {
            margin-right: 6px;
          }
        }
        &-fav {
          i {color: #e5b643;}
        }
        &-com {
          border-left: 1px solid #ebebeb;
          border-right: 1px solid #ebebeb;
          i {color: $base-color-main;}
        }
        &-photo {
          i {color: #1e9650;}
        }
      }
    }
    .mm-filter .item {
      box-shadow: none;
    }
  }
  //category

  &-object {
    &--info {
      @extend .section;
      padding: 10px;
      margin: 0 -10px 15px;
      @media screen and (min-width: $screen-md-min) {
        margin: 0 0 15px;
        padding: 20px;
        h2 {margin-top: 0;}
      }
      .item__link, .item__link-com {
        border: none;
        text-align: left;
        @media screen and (min-width: $screen-md-min) {
          text-align: center;
        }
      }
      .item__link div{
        padding: 10px 0;
      }
    }
    &__desc {
      & + & {
        border-top: 1px solid #ebebeb;
        padding-top: 10px;
      }
      h5 {
        margin-top: 0;
      }
      .item__desc {
        &-time {
          margin-bottom: 15px;
          a {
            color: $color-type-4b;
            border-bottom: 1px dotted $color-type-4b;
            &:active,
            &:focus,
            &:hover {
              border-color: transparent;
              text-decoration: none;
            }
          }
          &--close {
            a {
              color: #969696;
              border-color: #969696;
              &:active,
              &:focus,
              &:hover {
                border-color: transparent;
              }
            }
          }
          .time--body {
            display: none;
            margin-top: 10px;
            margin-bottom: 25px;
          }
        }
        &-phone {
          i {
            color: #0569af;
          }
        }
        &-url {
          a {
            color: #212121;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
          i {
            color: #0569af;
          }
        }
        &-unique {
          a {
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    &--slider {
      @extend .section;
      padding: 10px;
      margin: 0 -10px 15px;
      @media screen and (min-width: $screen-md-min) {
        margin: 0 0 15px;
        padding: 20px;
      }
      h2 { margin-top: 0;}
    }
    &--comments {
      @extend .section;
      padding: 10px;
      position: relative;
      margin: 0 -10px;
      @media screen and (min-width: $screen-md-min) {
        margin: 0;
        padding: 20px;
      }
      ul { margin: 0;}
      h3 {
        margin-top: 0;
      }
      &__addbtn {
        @media screen and (min-width: $screen-md-min) {
          width: 250px;
          position: absolute;
          top: 20px;
          right: 20px;
        }
        i {
          font-size: 24px;
          margin-right: 10px;
          vertical-align: middle;
        }
      }
      &__sortlist {
        color: #969696;
        &-item {
          display: inline-block;
          margin: 9px 9px 0 0;
          &:first-child {
            display: block;
            @media screen and (min-width: $screen-md-min) {
              display: inline-block;
            }
          }
          span {
            margin-right: 12px;
          }
          a {
            color: #969696;
            border-bottom: 1px dotted #969696;
            font-size: 14px;
            &:hover,
            &.active {
              color: $base-color-main;
              border-color: $base-color-main;
            }
          }
        }
      }
      &-item {
        color: #212121;
        padding: 20px 0;
        & + & {
          border-top: 1px solid #ebebeb;
        }
        &__name {
          margin-bottom: 15px;
        }
        &__date {
          margin-left: 20px;
          color: #969696;
          font-size: 12px;
        }
        &__txt {
          font-size: 14px;
          margin-bottom: 15px;
          max-width: 90%;
        }
        &__rate {
          font-size: 12px;
          color: #969696;
          span { vertical-align: middle;margin-left: 5px;}
          li {vertical-align: middle;}
          i {
            font-size: 20px;
            vertical-align: middle;
          }
          .like {
            i {color: $base-color-main}
          }
          .dislike {
            i {color: #212121}
          }
        }
      }
    }
  }
  .org-info {
    i {
      color: #0569af;
    }
  }
  //object
}

.star-rating {
  font-size: 0;
  &__wrap{
    display: inline-block;
    //font-size: 15px;
    &:after{
      content: "";
      display: table;
      clear: both;
    }
  }
  &__ico{
    float: right;
    padding-left: 8px;
    cursor: pointer;
    margin: 0;
    &:last-child{
      padding-left: 0;
    }
  }
  //&__ico,
  &__input{
    display: none;
  }
  &__ico:hover i:before,
  &__ico:hover ~ .star-rating__ico i:before,
  &__input:checked ~ .star-rating__ico i:before {
    @include sprite(star_full_icon);
  }
}


.form-submit {
  margin-top: 25px;
}