//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    padding: 18px 0;
    list-style: none;
    margin-bottom: 0;
    display: none;
    @media screen and (min-width: $screen-adaptive-nav) {
      display: block;
    }

    > li {
      display: inline-block;

      a {color: $breadcrumb-color}

      + li {
        &:before {
          content: "#{$breadcrumb-separator}";
          font-family: 'mapsme';
          font-size: 10px;
          padding: 0 5px;
          color: $breadcrumb-color;
        }
      }

      &.active {
        color: $breadcrumb-active-color;
      }
    }
    &-mob {
      font-size: 14px;
      padding: 18px 0;
      list-style: none;
      margin-bottom: 0;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
      li {
        display: inline-block;
      }
      a {
        text-decoration: underline;
      }
      i {
        font-size: 23px;
        color: $base-color-main;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
}