//
// Modules -> Navs
// --------------------------------------------------

@if $use-subnav == true {
  .sub-nav {
    img {
      margin-right: 11px;
      //vertical-align: text-top;
    }
    li {
      display: block;
      padding: 0;
      &:last-child {
        padding: 0;
      }
    }

    @if $use-adaptive == true {
      @media screen and (min-width: $screen-adaptive-nav) {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 3px 3px;
        display: none;
        position: absolute;
        background: #fff;
        top: 100%;
        right: 0;
        min-width: 210px;
        font-size: 14px;
        font-weight: 400;
        li:hover & {
          display: block;
        }
        li {
          + li a {
            border-top: 1px solid #ebebeb;
          }

          a {
            padding: 9px 10px;
            color: #969696;
            &:hover {
              text-decoration: none;
              background: darken(#fff, 5%);
            }
          }
        }
      }
    } @else {
      display: none;
      position: absolute;
      background: $gray-darken;
      top: 100%;
      right: 0;
      min-width: 200px;
      li:hover & {
        display: block;
      }
    }
  }
}

.main-nav {
  max-width: 510px;
  margin: auto;
  @media screen and (min-width: $screen-adaptive-nav) {
    max-width: inherit;
    font-family: "helveticaneuecyrroman";
    display: flex;
    @include justify-content__xs(space-between);
  }

  &__item {
    position: relative;

    @if $use-adaptive == true {
      display: block;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: inline-block;
        padding: 9px 0;
      }
    } @else {
      display: inline-block;
    }
    &:last-child {
      padding: 0;
      @media screen and (min-width: $screen-adaptive-nav) {
        padding: 9px 8px;
        &:hover {
          background-color: #ffffff;
        }
      }
    }
  }
  &__link {
    position: relative;
    padding: $nav-link-padding;
    color: #374146;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    display: block;
    background-color: transparent;
    @if $use-adaptive == true {
      @media screen and (min-width: $screen-adaptive-nav) {
        color: #969696;
        font-weight: 300;
        font-size: 14px;
        padding: 0;
      }
    } @else {
      background-color: transparent;
    }
    .active &,
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  img {
    max-width: none;
  }

  @if $use-adaptive == true {
    &__toggle {
      position: relative;
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 20px;

      &:focus {
        outline: 0;
      }
      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
      &--closed {
        font-size: 16px;
        margin: 17px 11px;
        @media screen and (min-width: $screen-adaptive-nav) {
          display: none;
        }
      }
    }
    &__collapse {
      overflow-x: visible;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 5px;
      display: none;
      .page-header & {
        background-color: rgba(255,255,255,0.9);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        @media screen and (min-width: $screen-adaptive-nav) {
          background-color: transparent;
          position: static;
          display: block !important;
          width: 100%;
          padding-bottom: 0;
        }
      }
      @media screen and (min-width: $screen-adaptive-nav) {
        background-color: transparent;
        position: static;
        display: block !important;
        width: 100%;
      }
    }
  }
}

.navbar {
  //position: relative;
  display: flex;
  @include justify-content__xs(space-between);
  @include align-items__xs(center);
}