//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .pagination {
    display: block;
    padding-left: 0;
    margin: $line-height-computed 0;
    text-align: center;

    &__item {
      display: inline-block;
      text-transform: uppercase;
      a,
      span {
        position: relative;
        font-size: 15px;
        display: inline-block;
        //padding: 10px 20px;
        height: 45px;
        width: 45px;
        line-height: 45px;
        text-align: center;
        margin: 15px 5px;
        //line-height: $base-line-height;
        text-decoration: none;
        color: $pagination-color;
        background-color: $pagination-bg;
        border: 1px solid $pagination-border;
        @include border-radius($border-radius-base);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        @media screen and (min-width: $screen-md-min) {
          margin: 15px;
        }
      }
      &--arr {
        display: none;
        @media screen and (min-width: $screen-md-min) {
          display: inline-block;
        }
        a {
          color: $base-color-main;
          background-color: transparent;
          border: 1px solid transparent;
          box-shadow: none;
        }
      }
    }

    &__item a,
    &__item span {
      &:hover,
      &:focus {
        z-index: 3;
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
      }
    }

    &__item.active a,
    &__item.active span {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
        cursor: default;
      }
    }
  }
}
