footer.page-footer(itemscope, itemtype="http://schema.org/WPFooter")
	.container
		.row.between__xs.middle__xs
			nav.cell.cell__xl-9.cell__lg-10.cell__xs-12
				button.main-nav__toggle.main-nav__toggle--jsf
					i.icon.icon-menu_mobile_icon
					span МЕНЮ
				.main-nav__collapse
					ul.main-nav
						li.main-nav__item.active
							a.main-nav__link(href="#") О компании
						li.main-nav__item
							a.main-nav__link(href="#") Для бизнеса
						li.main-nav__item
							a.main-nav__link(href="#") Партнерам
						li.main-nav__item
							a.main-nav__link(href="#") Реклама на сайте
						li.main-nav__item
							a.main-nav__link(href="#") Новости
						li.main-nav__item
							a.main-nav__link(href="#") Помощь
						li.main-nav__item
							a.main-nav__link(href="#") Контакты
						li.main-nav__item
							a.main-nav__link(href="#") Карты мира
						li.main-nav__item
							a.main-nav__link(href="#") Карта сайта
			.cell.cell__xl-3.cell__lg-2.cell__md-4.cell__xs-5.text__lg--right
				.loadme
					a(href="#")
						i.f-icons.f-icons--download
						span Загрузить #[span.text--success MAPS.ME]
			.cell.cell__lg-5.cell__md-4.cell__xs-12.last__xs.reset__md
				.page-footer__logo
					img(src="images/logo-footer.png", alt="Company ltd.")
					span МАРS.ME © 2016
			.cell.cell__lg-7.cell__md-4.cell__xs-7.text--right
				ul.list--inline.social
					li: a(href="#"): i.f-icons.f-icons--vk
					li: a(href="#"): i.f-icons.f-icons--fb
					li: a(href="#"): i.f-icons.f-icons--tw
