header.page-header(itemscope, itemtype="http://schema.org/WPHeader")
    .page-header-top
        .container
            include ../components/_navbar-c
    .page-header-bottom
        .container
            .inner
                .item
                    .page-header__logo
                        a(href="/")
                            img(src="images/logo.png", alt="Company ltd.")
    .page-header-fixed
        .item
            img(src="images/logo-f.png", alt="Company ltd.")
            a.dlink(href="#") Скачать maps.me
        .item
            a.close--js(href="#"): i.icon.icon-close_popup_mobile_icon