header.page-header(itemscope, itemtype="http://schema.org/WPHeader")
    .page-header-top
        .container
            include ../components/_navbar
    .page-header-bottom
        .container
            .inner
                .item
                    .page-header__logo
                        a(href="/")
                            span
                                img(src="images/maps_me_logo.svg", alt="MapsMe")
                            | Maps.me
                .item.cell__xs-3
                    input.control(type="text", placeholder="Страна", required)
                .item.cell__xs-3
                    input.control(type="text", placeholder="Город")
                .item.cell__xs-3
                    select.control.control-header
                        option(selected, disabled) Категория
                        option Банк
                        option Кафе
                        option Продукты
                .item
                    button.btn.btn--primary(type="submit")
                        i.icon.icon-search_white_icon
    .page-header-fixed
        .item
            img(src="images/logo-f.png", alt="Company ltd.")
            a.dlink(href="#") Скачать maps.me
        .item
            a.close--js(href="#"): i.icon.icon-close_popup_mobile_icon