main.page-main
    include ../components/_subbanner
    .container
        include ../components/_breadcrumbs
        section.mm-business
            .main-title
                h1(itemprop="headline")= title
            .row
                aside.cell.cell__lg-3.cell__md-4.cell__xs-12
                    ul.mm-business--nav
                        li.mm-business--nav__item: a.mm-business--nav__link(href="#") Условия работы
                        li.mm-business--nav__item.active: a.mm-business--nav__link(href="#") Реклама на сайте
                .cell.cell__lg-9.cell__md-8.cell__xs-12
                    .text--center.text__md--left
                        h2 Реклама на сайте
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                    h3 Общая информация
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                    h3 Форматы рекламы
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.

