main.page-main
    include ../components/_subbanner
    .mm-filter.hidden__xs.hidden__sm
        .mm-filter--body
            .container
                include ../components/_filter
    .container
        include ../components/_breadcrumbs
        section.mm-cat
            .main-title
                h1= title
            .mm-filter.visible__xs.visible__sm
                .mm-filter--title.search-mobile--js
                    .inner
                        .item фильтр
                        .item: i.f-icons.f-icons--filter
                .mm-filter--body
                    include ../components/_filter
            p Выбирать место можно не только по параметрам, но и согласно принципам вашего отдыха. Любите сидеть в интернете или жить не можете без живой музыки, а, может, вам не нужно ничего кроме пиццы и пива — найдите место по вкусу.
            .mm-cat--items.masonry.row.center__xs(itemtype="http://schema.org/ItemList", itemscope)
                .cell.cell__lg-4.cell__sm-6.cell__xs-12
                    .item(itemprop="itemListElement", itemtype="http://schema.org/Organization",  itemscope)
                        .item__img
                            img(src="images/category-img-1.jpg", alt="", itemprop="image")
                        .item__title(itemprop="name")
                            a.text__lg(href="#", itemprop="url") Ресторан «Веселидзе»
                        .item__desc
                            p.item__desc-location
                                i.icon.icon-location_icon
                                span(itemprop="address")  Восстания ул., 20
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                                meta(itemprop="telephone", content="1234567")
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                            p.item__desc-type
                                i.icon.icon-chef_icon
                                span  Грузинская кухня
                        .item__link
                            .item__link-fav
                                a(href="#")
                                    i.icon.icon-star_icon
                                    span(itemprop="aggregateRating") 25
                            .item__link-com
                                a(href="#")
                                    i.icon.icon-bubble_icon
                                    span(itemprop="review") 125
                            .item__link-photo
                                a(href="#")
                                    i.icon.icon-photo_icon
                                    span 125
                .cell.cell__lg-4.cell__sm-6.cell__xs-12
                    .item(itemprop="itemListElement", itemtype="http://schema.org/Organization",  itemscope)
                        .item__img
                            img(src="images/category-img-2.jpg", alt="", itemprop="image")
                        .item__title(itemprop="name")
                            a.text__lg(href="#", itemprop="url") Ресторан «Чебуречная Салхино»
                        .item__desc
                            p.item__desc-location
                                i.icon.icon-location_icon
                                span(itemprop="address")  Индустриальный пр., 17, к. 1, литер А
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                                meta(itemprop="telephone", content="1234567")
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                            p.item__desc-type
                                i.icon.icon-chef_icon
                                span  Грузинская, Европейская, Русская кухня
                        .item__link
                            .item__link-fav
                                a(href="#")
                                    i.icon.icon-star_icon
                                    span(itemprop="aggregateRating") 25
                            .item__link-com
                                a(href="#")
                                    i.icon.icon-bubble_icon
                                    span(itemprop="review") 125
                            .item__link-photo
                                a(href="#")
                                    i.icon.icon-photo_icon
                                    span 125
                .cell.cell__lg-4.cell__sm-6.cell__xs-12
                    .item(itemprop="itemListElement", itemtype="http://schema.org/Organization",  itemscope)
                        .item__img
                            img(src="images/no_photo.jpg", alt="", itemprop="image")
                        .item__title(itemprop="name")
                            a.text__lg(href="#", itemprop="url") Ресторан «Пожалуй, самое длинное название Веселидзе»
                        .item__desc
                            p.item__desc-location
                                i.icon.icon-location_icon
                                span(itemprop="address")  Восстания ул., 20
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                                meta(itemprop="telephone", content="1234567")
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                            p.item__desc-type
                                i.icon.icon-chef_icon
                                span  Грузинская, Европейская, Русская, Узбекская, Кавказская кухня
                        .item__link
                            .item__link-fav
                                a(href="#")
                                    i.icon.icon-star_icon
                                    span(itemprop="aggregateRating") 25
                            .item__link-com
                                a(href="#")
                                    i.icon.icon-bubble_icon
                                    span(itemprop="review") 125
                            .item__link-photo
                                a(href="#")
                                    i.icon.icon-photo_icon
                                    span 125
                .cell.cell__lg-4.cell__sm-6.cell__xs-12
                    .item(itemprop="itemListElement", itemtype="http://schema.org/Organization",  itemscope)
                        .item__img
                            img(src="images/no_photo.jpg", alt="", itemprop="image")
                        .item__title(itemprop="name")
                            a.text__lg(href="#", itemprop="url") Ресторан «Пожалуй, самое длинное название Веселидзе»
                        .item__desc
                            p.item__desc-location
                                i.icon.icon-location_icon
                                span(itemprop="address")  Восстания ул., 20
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                                meta(itemprop="telephone", content="1234567")
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                            p.item__desc-type
                                i.icon.icon-chef_icon
                                span  Грузинская, Европейская, Русская, Узбекская, Кавказская кухня
                        .item__link
                            .item__link-fav
                                a(href="#")
                                    i.icon.icon-star_icon
                                    span(itemprop="aggregateRating") 25
                            .item__link-com
                                a(href="#")
                                    i.icon.icon-bubble_icon
                                    span(itemprop="review") 125
                            .item__link-photo
                                a(href="#")
                                    i.icon.icon-photo_icon
                                    span 125
                .cell.cell__lg-4.cell__sm-6.cell__xs-12
                    .item(itemprop="itemListElement", itemtype="http://schema.org/Organization",  itemscope)
                        .item__img
                            img(src="images/category-img-1.jpg", alt="", itemprop="image")
                        .item__title(itemprop="name")
                            a.text__lg(href="#", itemprop="url") Ресторан «Веселидзе»
                        .item__desc
                            p.item__desc-location
                                i.icon.icon-location_icon
                                span(itemprop="address")  Восстания ул., 20
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                                meta(itemprop="telephone", content="1234567")
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                            p.item__desc-type
                                i.icon.icon-chef_icon
                                span  Грузинская кухня
                        .item__link
                            .item__link-fav
                                a(href="#")
                                    i.icon.icon-star_icon
                                    span(itemprop="aggregateRating") 25
                            .item__link-com
                                a(href="#")
                                    i.icon.icon-bubble_icon
                                    span(itemprop="review") 125
                            .item__link-photo
                                a(href="#")
                                    i.icon.icon-photo_icon
                                    span 125
                .cell.cell__lg-4.cell__sm-6.cell__xs-12
                    .item(itemprop="itemListElement", itemtype="http://schema.org/Organization",  itemscope)
                        .item__img
                            img(src="images/category-img-2.jpg", alt="", itemprop="image")
                        .item__title(itemprop="name")
                            a.text__lg(href="#", itemprop="url") Ресторан «Чебуречная Салхино»
                        .item__desc
                            p.item__desc-location
                                i.icon.icon-location_icon
                                span(itemprop="address")  Индустриальный пр., 17, к. 1, литер А
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                                meta(itemprop="telephone", content="1234567")
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                            p.item__desc-type
                                i.icon.icon-chef_icon
                                span  Грузинская, Европейская, Русская кухня
                        .item__link
                            .item__link-fav
                                a(href="#")
                                    i.icon.icon-star_icon
                                    span(itemprop="aggregateRating") 25
                            .item__link-com
                                a(href="#")
                                    i.icon.icon-bubble_icon
                                    span(itemprop="review") 125
                            .item__link-photo
                                a(href="#")
                                    i.icon.icon-photo_icon
                                    span 125
            .hidden__xs
                include ../components/_paginator
            .visible__xs.margbot30
                a.btn.btn--primary.btn--full(href="#") Показать еще
            .mm-cat--desc
                h2 Рестораны
                p Древняя, богатая традициями, гордая, загадочная Грузия… Вчера – часть большой единой страны, сегодня – суверенное государство. Но чтобы ощутить ее дух не обязательно уезжать из Санкт-Петербурга. Достаточно посетить один из его грузинских ресторанов.#[br] Первое, что отметит посетитель любого грузинского ресторана – это необыкновенный уют и колоритный интерьер. Каменная или деревянная кладка стен создает иллюзию просторного горного дома. Удобные мягкие диваны и многочисленные подушки долго не отпустят гостей. Красивые скатерти и идеальная сервировка не заставят сомневаться, что каждый клиент здесь – почетный гость. А значит, будет принят с особой душевностью и гостеприимным теплом.#[br] Грузинские рестораны в Санкт-Петербурге не только воссоздают атмосферу Кавказа, но и следуют самым строгим канонам европейского качества обслуживания. Персонал, быстро и точно выполняя заказ, не перестает радушно улыбаться каждому посетителю, предвосхищая его кулинарные желания. Повсеместно известные доброта, отзывчивость и веселый нрав грузинского народа никого не оставят равнодушным. А непередаваемые по красоте и глубине эмоций грузинские танцы и мелодичные песни – отчужденным. #[br] И о чем точно не стоит забывать – так это о щедром столе. Рестораны грузинской кухни балуют своих гостей не только общенациональными шедеврами – традиционными мивади (шашлык), хаши (говяжий бульон с чесноком и пряностями), сациви (холодная курица с терпкими орехами и приправами), хачапури (сырный пирог), соленым сыром сулугуни, многочисленными закусками и соусами. Грузинские рестораны предлагают своим гостям и менее известные, но от того не менее вкусные блюда разных районов Страны Гор и знаменитые на весь мир вина.