main.page-main
    section.mm-banner
        .container
            .mm-banner__item
                img(src="images/mapsme.jpg", alt="")
                h1 Cвобода #[br] путешествовать!
            h2 Быстрые и подробные офлайн карты. #[br] Установи на свой смартфон!
            ul.list--inline
                li: a(href="#"): img(src="images/google-play.png", alt="")
                li: a(href="#"): img(src="images/app-store.png", alt="")
            h6.hidden__xs: a(href="#") Все устройства
    .container
        section.mm-category
            .text--center.text__md--left
                h1.title Популярные категории
            .row.center__xs.start__md
                .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                    .mm-category__item.mm-category__item--js
                        .mm-category__item-img(style="background: url('images/food.jpg') no-repeat center center / cover")
                            .mm-category__item-ico: i.f-icons.f-icons--food
                        .mm-category__item-title
                            h4 Питание
                        a.mm-category__item-openlink.mm-category__item-openlink--js(href="#") Развернуть
                        .mm-category__item-links
                            a.mm-category__item-link(href="#") Бар
                            a.mm-category__item-link(href="#") Источник питьевой воды
                            a.mm-category__item-link(href="#") Пиццерия
                            a.mm-category__item-link(href="#") Ресторан
                            a.mm-category__item-link(href="#") Закусочная
                            a.mm-category__item-link.mm-category__item-link--mobile(href="#") Закусочная
                            a.mm-category__item-link.mm-category__item-link--mobile(href="#") Источник питьевой воды
                            a.mm-category__item-link.mm-category__item-link--mobile(href="#") Ресторан
                            a.mm-category__item-link.mm-category__item-link--mobile(href="#") Закусочная
                            a.mm-category__item-alllink(href="#") Все категории
                            a.mm-category__item-closelink.mm-category__item-closelink--js(href="#") Свернуть
                .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                    .mm-category__item.mm-category__item--js
                        .mm-category__item-img(style="background: url('images/education.jpg') no-repeat center center / cover")
                            .mm-category__item-ico: i.f-icons.f-icons--education
                        .mm-category__item-title
                            h4 Образование
                        a.mm-category__item-openlink.mm-category__item-openlink--js(href="#") Развернуть
                        .mm-category__item-links
                            a.mm-category__item-link(href="#") Колледж
                            a.mm-category__item-link(href="#") Автошколы
                            a.mm-category__item-link(href="#") Профессиональный лицей
                            a.mm-category__item-link(href="#") Музыкальные школы
                            a.mm-category__item-link(href="#") Училище
                            a.mm-category__item-link.mm-category__item-link--mobile(href="#") Библиотеки
                            a.mm-category__item-link.mm-category__item-link--mobile(href="#") Детские сады
                            a.mm-category__item-link.mm-category__item-link--mobile(href="#") Школы
                            a.mm-category__item-link.mm-category__item-link--mobile(href="#") Университеты
                            a.mm-category__item-link.mm-category__item-link--mobile(href="#") Институты
                            a.mm-category__item-alllink(href="#") Все категории
                            a.mm-category__item-closelink.mm-category__item-closelink--js(href="#") Свернуть
                .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                    .mm-category__item.mm-category__item--js
                        .mm-category__item-img(style="background: url('images/transport.jpg') no-repeat center center / cover")
                            .mm-category__item-ico: i.f-icons.f-icons--transport
                        .mm-category__item-title
                            h4 Транспорт
                        a.mm-category__item-openlink.mm-category__item-openlink--js(href="#") Развернуть
                        .mm-category__item-links
                            a.mm-category__item-link(href="#") Парковка для велосипедов
                            a.mm-category__item-link(href="#") Аренда велосипеда
                            a.mm-category__item-link(href="#") Автовокзалы
                            a.mm-category__item-link(href="#") Аренда автомобилей
                            a.mm-category__item-link(href="#") Автомойка
                            a.mm-category__item-alllink(href="#") Все категории
                            a.mm-category__item-closelink.mm-category__item-closelink--js(href="#") Свернуть
                .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                    .mm-category__item.mm-category__item--js
                        .mm-category__item-img(style="background: url('images/money.jpg') no-repeat center center / cover")
                            .mm-category__item-ico: i.f-icons.f-icons--money
                        .mm-category__item-title
                            h4 Финансы
                        a.mm-category__item-openlink.mm-category__item-openlink--js(href="#") Развернуть
                        .mm-category__item-links
                            a.mm-category__item-link(href="#") Банкоматы
                            a.mm-category__item-link(href="#") Банки
                            a.mm-category__item-link(href="#") Пункты обмена валют
                            a.mm-category__item-closelink.mm-category__item-closelink--js(href="#") Свернуть
                .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                    .mm-category__item.mm-category__item--js
                        .mm-category__item-img(style="background: url('images/medicine.jpg') no-repeat center center / cover")
                            .mm-category__item-ico: i.f-icons.f-icons--medicine
                        .mm-category__item-title
                            h4 Здоровье
                        a.mm-category__item-openlink.mm-category__item-openlink--js(href="#") Развернуть
                        .mm-category__item-links
                            a.mm-category__item-link(href="#") Детский дом
                            a.mm-category__item-link(href="#") Больницы
                            a.mm-category__item-link(href="#") Поликлиники
                            a.mm-category__item-link(href="#") Стоматология
                            a.mm-category__item-link(href="#") Медпункты
                            a.mm-category__item-alllink(href="#") Все категории
                            a.mm-category__item-closelink.mm-category__item-closelink--js(href="#") Свернуть
                .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                    .mm-category__item.mm-category__item--js
                        .mm-category__item-img(style="background: url('images/culture.jpg') no-repeat center center / cover")
                            .mm-category__item-ico: i.f-icons.f-icons--culture
                        .mm-category__item-title
                            h4 Досуг, искусство и культура
                        a.mm-category__item-openlink.mm-category__item-openlink--js(href="#") Развернуть
                        .mm-category__item-links
                            a.mm-category__item-link(href="#") Дома культуры
                            a.mm-category__item-link(href="#") Дома творчества
                            a.mm-category__item-link(href="#") Кинотеатры
                            a.mm-category__item-link(href="#") Фонтаны
                            a.mm-category__item-link(href="#") Ночные клубы
                            a.mm-category__item-alllink(href="#") Все категории
                            a.mm-category__item-closelink.mm-category__item-closelink--js(href="#") Свернуть
                .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                    .mm-category__item.mm-category__item--js
                        .mm-category__item-img(style="background: url('images/shops.jpg') no-repeat center center / cover")
                            .mm-category__item-ico: i.f-icons.f-icons--shops
                        .mm-category__item-title
                            h4 Магазины
                        a.mm-category__item-openlink.mm-category__item-openlink--js(href="#") Развернуть
                        .mm-category__item-links
                            a.mm-category__item-link(href="#") Продовольственные магазины
                            a.mm-category__item-link(href="#") Супермаркеты
                            a.mm-category__item-link(href="#") Универсамы
                            a.mm-category__item-link(href="#") Одежда, обувь и аксессуары
                            a.mm-category__item-link(href="#") Секонд Хэнд
                            a.mm-category__item-alllink(href="#") Все категории
                            a.mm-category__item-closelink.mm-category__item-closelink--js(href="#") Свернуть
                .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                    .mm-category__item.mm-category__item--js
                        .mm-category__item-img(style="background: url('images/workshops.jpg') no-repeat center center / cover")
                            .mm-category__item-ico: i.f-icons.f-icons--workshops
                        .mm-category__item-title
                            h4 Мастерские
                        a.mm-category__item-openlink.mm-category__item-openlink--js(href="#") Развернуть
                        .mm-category__item-links
                            a.mm-category__item-link(href="#") Пивоварня
                            a.mm-category__item-link(href="#") Ремонт
                            a.mm-category__item-link(href="#") Кондитерская
                            a.mm-category__item-link(href="#") Ателье
                            a.mm-category__item-link(href="#") Ювелирные мастерские
                            a.mm-category__item-alllink(href="#") Все категории
                            a.mm-category__item-closelink.mm-category__item-closelink--js(href="#") Свернуть
            .text--center.margtop20.margbot50
                a.btn.btn--primary(href="#") Все категории