main.page-main
    .container
        section.section.text-template
            h1 H1: Grade by  Chest
            p I held that gun in my hand, I felt a surge of power…like God must feel when he's holding a gun. How could you?! Haven't you learned anything from that guy who gives those sermons at church? Captain Whatshisname? We live in a society of laws! Why do you think I took you to all those Police Academy movies? For fun? Well, I didn't hear anybody laughing, did you? Except at that guy who made sound effects.
            h2 H2: 1000+ Elements
            p Haven't you learned anything from that guy who gives those sermons at church? Captain Whatshisname? We live in a society of laws! Why do you think I took you to all those Police Academy movies? For fun? Well, I didn't hear anybody laughing, did you? Except at that guy who made sound effects.
            p Some #[b text] continue....
            .row
                .cell.cell__xs-6
                    h3 H3: Super Useful
                    p I hope this has taught you kids a lesson: kids never learn. Can't you people take the law into your own hands? I mean, we can't be policing the entire city:
                    ul.list--bullet
                        li You, minion. Lift my arm. AFTER HIM!
                        li Kif, I have mated with a woman. Inform the men.
                        li We're rescng ya.
                        li That's the ONLY thing about being a slave.
                        li You don't know how to do any of those.
                    p Yes, except the Dave Matthews Band doesn't rock. There's one way and only one way to determine if an animal is intelligent. Dissect its brain! It's just like the story of the grasshopper and the octopus.
                .cell.cell__xs-6
                    h4 H4: Light &amp; Dark Theme
                    p Guards! Bring me the forms I need to fill out to have her taken away! Leela, Bender, we're going grave robbing. Oh right. I forgot about the battle:
                    ol.list--number
                        li You, minion. Lift my arm. AFTER HIM!
                        li Kif, I have mated with a woman. Inform the men.
                        li We're rescng ya.
                        li That's the ONLY thing about being a slave.
                        li You don't know how to do any of those.
                    p All year long, the grasshopper kept burying acorns for winter, while the octopus mooched off his girlfriend and watched TV. But then the winter came, and the grasshopper died, and the octopus ate all his acorns.
        section.text-template.section
            h5 H5: Fully Customizable
            p You, minion. Lift my arm. AFTER HIM! It's just like the story of the grasshopper and the octopus. All year long, the grasshopper kept burying acorns for winter, while the octopus mooched off his girlfriend and watched TV.
            p
                a.link(href="#") Selected link
                a.link.link--disabled(href="#") Diselected link
            table.table
                thead
                    tr
                        th.cell__xs-1: img(src="images/icons/icoTable-1.png" alt="")
                        th Product Name
                        th Price
                tbody
                    - for (var x = 1; x < 5; x++)
                        tr
                            td.text--center: .inline: +fieldCheckbox('', 'table' + x, false)
                            td Adidas EQT Cushion 91
                            td: b $145
            include ../components/_breadcrumbs
            .formsBlock
                .row
                    .cell.cell__sm-3
                        h5 Inputs
                        .form__group
                            +fieldInput('text', 'name', 'name', 'Label', 'Label', false)
                        .form__group
                            +fieldInput('text', 'name', 'name', 'Alert Field', 'Alert Field', true)
                        h5 Dropdowns
                        .form__group
                            fieldset
                                select.control.control-hard
                                    option(default)
                                    option Dropdown
                                    option Dropdown Hover
                                    option Dropdown Selected
                                    option Dropdown Disabled
                                label.label-hard Selected Tags
                        .form__group
                            fieldset
                                select.control.control-hard(multiple)
                                    //option(default)
                                    option Кофейни
                                    option Бары
                                    option Кофейни
                                    option Бары
                                    option Кофейни
                                    option Бары
                                    option Кофейни
                                    option Бары
                                label.label-hard Selected Tags
                        h5 Text Area
                        +fieldTextarea('text', 'text', '', 'Good news, everyone', 4, '', false)
                    .cell.cell__sm-3
                        h5 Checkboxes & Radio Buttons
                        .form__group
                            +fieldCheckbox('Checkbox', 'item1', false)
                            +fieldCheckbox('Checkbox Selected', 'item2', true)
                        .form__group
                            +fieldRadio('Radio Button', 'item11', 'radio', false)
                            +fieldRadio('Radio Button Selected', 'item12', 'radio', true)
                    .cell.cell__sm-3
                        h5 Buttons
                        ul.list--unstyled
                            li: a.btn.btn--primary(href='#') Normal
                            li.margtop20: a.btn.btn--primary(href='#') Hover
                            li.margtop20: a.btn.btn--primary.active(href='#') Pressed
                    .cell.cell__sm-3
                        h5 Ghost Buttons
                            ul.list--unstyled
                                li: a.btn.btn--outlined(href='#') Normal
                                li.margtop20: a.btn.btn--outlined(href='#') Hover
                                li.margtop20: a.btn.btn--outlined.active(href='#') Pressed
            include ../components/_paginator