main.page-main
    section.mm-subbanner.hidden__xs
        .container
            h1 Для просмотра карты установите приложение
            ul.list--inline
                li: a(href="#"): img(src="images/google-play-m.png", alt="")
                li: a(href="#"): img(src="images/app-store-m.png", alt="")
            h6: a(href="#") Все устройства
    .container
        include ../components/_breadcrumbs
        section.mm-maps-city
            .main-title
                h1(itemprop="headline")= title
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
            .mm-category
                h2 Категории
                .row.center__xs.start__md
                    .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                        a.mm-category__item(href="#")
                            .mm-category__item-img(style="background: url('../images/hotels.jpg') no-repeat center center / cover")
                                .mm-category__item-ico: i.f-icons.f-icons--hotels
                            .mm-category__item-title
                                h4 Отели  Санкт-Петербурга
                    .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                        a.mm-category__item(href="#")
                            .mm-category__item-img(style="background: url('../images/food.jpg') no-repeat center center / cover")
                                .mm-category__item-ico: i.f-icons.f-icons--food
                            .mm-category__item-title
                                h4 Рестораны Санкт-Петербурга
                    .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                        a.mm-category__item(href="#")
                            .mm-category__item-img(style="background: url('../images/museums.jpg') no-repeat center center / cover")
                                .mm-category__item-ico: i.f-icons.f-icons--museums
                            .mm-category__item-title
                                h4 Музеи Санкт-Петербурга
                    .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                        a.mm-category__item(href="#")
                            .mm-category__item-img(style="background: url('../images/sights.jpg') no-repeat center center / cover")
                                .mm-category__item-ico: i.f-icons.f-icons--sights
                            .mm-category__item-title
                                h4 Достопримечательности Санкт-Петербурга
                    .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                        a.mm-category__item(href="#")
                            .mm-category__item-img(style="background: url('../images/concert_halls.jpg') no-repeat center center / cover")
                                .mm-category__item-ico: i.f-icons.f-icons--concert
                            .mm-category__item-title
                                h4 Концертные залы Санкт-Петербурга
                    .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                        a.mm-category__item(href="#")
                            .mm-category__item-img(style="background: url('../images/cinema.jpg') no-repeat center center / cover")
                                .mm-category__item-ico: i.f-icons.f-icons--cinema
                            .mm-category__item-title
                                h4 Кинотеатры Санкт-Петербурга
            ul.pager
                li: i.icon.icon-left_arrow_nav
                li: a(href="#")  Вернуться к картам России
