main.page-main
    include ../components/_subbanner
    .container
        include ../components/_breadcrumbs
        section.mm-maps-world
            .main-title
                h1(itemprop="headline")= title
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
            h2 Категории
            .mm-maps-world__category
                .row.center__xs
                    - for (var x = 1; x < 6; x++)
                        .cell.cell__lg-3.cell__md-4.cell__xs-12
                            a.btn.btn__sm.btn--outlined.btn--full(href="#") Карта Абакана
                        .cell.cell__lg-3.cell__md-4.cell__xs-12
                            a.btn.btn__sm.btn--outlined.btn--full(href="#") Карта Абинска
                        .cell.cell__lg-3.cell__md-4.cell__xs-12
                            a.btn.btn__sm.btn--outlined.btn--full(href="#") Карта Адлера
                        .cell.cell__lg-3.cell__md-4.cell__xs-12
                            a.btn.btn__sm.btn--outlined.btn--full(href="#") Карта Лланвайр-Пуллгуингилл
