main.page-main
    section.mm-subbanner.hidden__xs
        .container
            h1 Для просмотра карты установите приложение
            ul.list--inline
                li: a(href="#"): img(src="images/google-play-m.png", alt="")
                li: a(href="#"): img(src="images/app-store-m.png", alt="")
            h6: a(href="#") Все устройства
    .container
        include ../components/_breadcrumbs
        section.mm-maps-city
            .main-title
                h1(itemprop="headline")= title
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
            h2 Города России по алфавиту
            .mm-maps-world__category
                ul.mm-alphabet
                    li.active: a(href="#") А
                    li: a(href="#") Б
                    li: a(href="#") в
                    li: a(href="#") г
                    li: a(href="#") д
                    li: a(href="#") е
                    li: a(href="#") ж
                    li: a(href="#") з
                    li: a(href="#") и
                    li: a(href="#") к
                    li: a(href="#") л
                    li: a(href="#") м
                    li: a(href="#") н
                    li: a(href="#") о
                    li: a(href="#") п
                    li: a(href="#") р
                    li: a(href="#") с
                    li: a(href="#") т
                    li: a(href="#") у
                    li: a(href="#") ф
                    li: a(href="#") х
                    li: a(href="#") ц
                    li: a(href="#") ч
                    li: a(href="#") ш
                    li: a(href="#") щ
                    li: a(href="#") э
                    li: a(href="#") ю
                    li: a(href="#") я
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                .row.center__xs
                    - for (var x = 1; x < 4; x++)
                        .cell.cell__lg-3.cell__md-4.cell__xs-12
                            a.btn.btn__sm.btn--outlined.btn--full(href="#") Карта Абакана
                        .cell.cell__lg-3.cell__md-4.cell__xs-12
                            a.btn.btn__sm.btn--outlined.btn--full(href="#") Карта Абинска
                        .cell.cell__lg-3.cell__md-4.cell__xs-12
                            a.btn.btn__sm.btn--outlined.btn--full(href="#") Карта Адлера
                        .cell.cell__lg-3.cell__md-4.cell__xs-12
                            a.btn.btn__sm.btn--outlined.btn--full(href="#") Карта Лланвайр-Пуллгуингилл
            .mm-category
                h2 Категории
                .row.center__xs.start__md
                    .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                        a.mm-category__item(href="#")
                            .mm-category__item-img(style="background: url('../images/hotels.jpg') no-repeat center center / cover")
                                .mm-category__item-ico: i.f-icons.f-icons--hotels
                            .mm-category__item-title
                                h4 Отели России
                    .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                        a.mm-category__item(href="#")
                            .mm-category__item-img(style="background: url('../images/food.jpg') no-repeat center center / cover")
                                .mm-category__item-ico: i.f-icons.f-icons--food
                            .mm-category__item-title
                                h4 Рестораны России
                    .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                        a.mm-category__item(href="#")
                            .mm-category__item-img(style="background: url('../images/museums.jpg') no-repeat center center / cover")
                                .mm-category__item-ico: i.f-icons.f-icons--museums
                            .mm-category__item-title
                                h4 Музеи России
                    .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                        a.mm-category__item(href="#")
                            .mm-category__item-img(style="background: url('../images/sights.jpg') no-repeat center center / cover")
                                .mm-category__item-ico: i.f-icons.f-icons--sights
                            .mm-category__item-title
                                h4 Достопримечательности России и не только очень много букв в названии
                    .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                        a.mm-category__item(href="#")
                            .mm-category__item-img(style="background: url('../images/concert_halls.jpg') no-repeat center center / cover")
                                .mm-category__item-ico: i.f-icons.f-icons--concert
                            .mm-category__item-title
                                h4 Концертные залы России
                    .cell.cell__xl-3.cell__lg-4.cell__md-6.cell__xs-12
                        a.mm-category__item(href="#")
                            .mm-category__item-img(style="background: url('../images/cinema.jpg') no-repeat center center / cover")
                                .mm-category__item-ico: i.f-icons.f-icons--cinema
                            .mm-category__item-title
                                h4 Кинотеатры России
            ul.pager
                li: i.icon.icon-left_arrow_nav
                li: a(href="#")  Вернуться к картам России
