main.page-main
    include ../components/_subbanner
    .container
        include ../components/_breadcrumbs
        section.mm-object.mm-cat
            // ссылка itemtype должна меняться в зависимости от типа организации http://schema.org/docs/schemas.html !!!!
            .mm-object--info(itemscope="", itemtype="http://schema.org/Restaurant")
                .row.center__xs
                    .cell.cell__md-6.cell__xs-12.last__md
                        #map(style="height:335px;width:100%")
                    .cell.cell__md-6.cell__xs-12
                        .mm-object__desc
                            .row.center__xs
                                .cell.cell__md-6.cell__xs-12
                                    .mm-object__title
                                        h2(itemprop="name")= title
                                .cell.cell__md-6.cell__xs-12
                                    .item__link.mm-object__link(itemprop="aggregateRating", itemscope, itemtype="http://schema.org/AggregateRating")
                                        .item__link-fav
                                            a(href="#")
                                                i.icon.icon-star_icon
                                                span(itemprop="ratingValue") 25
                                        .item__link-com
                                            a(href="#")
                                                i.icon.icon-bubble_icon
                                                span(itemprop="reviewCount") 125
                                        .item__link-photo
                                            a(href="#")
                                                i.icon.icon-photo_icon
                                                span 125
                            p.item__desc-type
                                i.icon.icon-chef_icon
                                span  Грузинская
                        .mm-object__desc
                            p.item__desc-location
                                i.icon.icon-subway_icon
                                span  пр. Невский
                            p.item__desc-location
                                i.icon.icon-location_icon
                                span(itemprop="address")  Индустриальный пр., 17, к. 1, литер А
                            .item__desc-time
                                a.time--js(href="#") Открыто сегодня до 24:00
                                .time--body
                                    p(itemprop="openingHours", datetime="Mn-Fr 08:30−23:00") #[b Пн-пт:] 08:30 - 23:00;
                                    p(itemprop="openingHours", datetime="St,Su 09:00−24:00") #[b Сб-вс:] 09:00 - 24:00
                            p.item__desc-phone
                                i.icon.icon-phone_icon
                                span(itemprop="telephone")  (812) 323-23-23
                            p.item__desc-url
                                i.icon.icon-link_icon &nbsp;
                                a(href="#", itemprop="url") veselidze.ru
                        .mm-object__desc
                            h5 Особенности:
                            p.item__desc-unique
                                a(href="#") Еда на открытом воздухе, #[a(href="#") Еда на вынос,] #[a(href="#") Доставка еды]
            .mm-object--slider
                h2 Фотографии
                .carousel-obj
                    - for ( var i = 0; i < 10; i++ )
                        div: img(src="images/img-slider.jpg", alt="")
            .mm-object--comments
                h3 Отзывы (125)
                .mm-object--comments__addbtn
                    a.btn.btn__sm.btn--primary.btn--full.popup(href="#addcom")
                        i.icon.icon-add_bubble_icon
                        |  Добавить отзыв
                ul.mm-object--comments__sortlist
                    li.mm-object--comments__sortlist-item: span Сортировать по:
                    li.mm-object--comments__sortlist-item: a.active(href="#") по дате
                    li.mm-object--comments__sortlist-item: a(href="#") по оценке
                    li.mm-object--comments__sortlist-item: a(href="#") по полезности
                .cell__lg-8.cell__md-9
                    - for ( var i = 0; i < 2; i++ )
                        .mm-object--comments-item(itemscope="itemscope", itemtype="http://schema.org/UserComments")
                            .mm-object--comments-item__name
                                span(itemprop="creator") Людмила
                                span.mm-object--comments-item__date(itemprop="commentTime") 20 июля 2016 г., Санкт-Петербург
                            .mm-object--comments-item__txt(itemprop="commentText")
                                p Праздновала день рождения, мало того, что накрыли не тот стол, ещё и в процессе нахамили и даже не извинились. Больше туда не пойдут никогда и другим не советую. Праздник был испорчен.
                            .mm-object--comments-item__rate.text--right
                                ul.list--inline
                                    li.like
                                        a(href="#"): i.icon.icon-like_icon
                                        span (5)
                                    li.dislike
                                        a(href="#"): i.icon.icon-dislike_icon
                                        span (0)
            h2 Объекты рядом
            .mm-cat--items.row.center__xs(itemtype="http://schema.org/ItemList", itemscope)
                .cell.cell__lg-4.cell__sm-6.cell__xs-12
                    .item(itemprop="itemListElement", itemtype="http://schema.org/Organization",  itemscope)
                        .item__img
                            img(src="images/category-img-1.jpg", alt="", itemprop="image")
                        .item__title(itemprop="name")
                            a.text__lg(href="#", itemprop="url") Ресторан «Веселидзе»
                        .item__desc
                            p.item__desc-location
                                i.icon.icon-location_icon
                                span(itemprop="address")  Восстания ул., 20
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                                meta(itemprop="telephone", content="1234567")
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                            p.item__desc-type
                                i.icon.icon-chef_icon
                                span  Грузинская кухня
                        .item__link
                            .item__link-fav
                                a(href="#")
                                    i.icon.icon-star_icon
                                    span(itemprop="aggregateRating") 25
                            .item__link-com
                                a(href="#")
                                    i.icon.icon-bubble_icon
                                    span(itemprop="review") 125
                            .item__link-photo
                                a(href="#")
                                    i.icon.icon-photo_icon
                                    span 125
                .cell.cell__lg-4.cell__sm-6.cell__xs-12
                    .item(itemprop="itemListElement", itemtype="http://schema.org/Organization",  itemscope)
                        .item__img
                            img(src="images/category-img-2.jpg", alt="", itemprop="image")
                        .item__title(itemprop="name")
                            a.text__lg(href="#", itemprop="url") Ресторан «Чебуречная Салхино»
                        .item__desc
                            p.item__desc-location
                                i.icon.icon-location_icon
                                span(itemprop="address")  Индустриальный пр., 17, к. 1, литер А
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                                meta(itemprop="telephone", content="1234567")
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                            p.item__desc-type
                                i.icon.icon-chef_icon
                                span  Грузинская, Европейская, Русская кухня
                        .item__link
                            .item__link-fav
                                a(href="#")
                                    i.icon.icon-star_icon
                                    span(itemprop="aggregateRating") 25
                            .item__link-com
                                a(href="#")
                                    i.icon.icon-bubble_icon
                                    span(itemprop="review") 125
                            .item__link-photo
                                a(href="#")
                                    i.icon.icon-photo_icon
                                    span 125
                .cell.cell__lg-4.cell__sm-6.cell__xs-12
                    .item(itemprop="itemListElement", itemtype="http://schema.org/Organization",  itemscope)
                        .item__img
                            img(src="images/no_photo.jpg", alt="", itemprop="image")
                        .item__title(itemprop="name")
                            a.text__lg(href="#", itemprop="url") Ресторан «Пожалуй, самое длинное название Веселидзе»
                        .item__desc
                            p.item__desc-location
                                i.icon.icon-location_icon
                                span(itemprop="address")  Восстания ул., 20
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                                meta(itemprop="telephone", content="1234567")
                                // программисту прописать переменную номера телефона в content организации для микроразметки !!!
                            p.item__desc-type
                                i.icon.icon-chef_icon
                                span  Грузинская, Европейская, Русская, Узбекская, Кавказская кухня
                        .item__link
                            .item__link-fav
                                a(href="#")
                                    i.icon.icon-star_icon
                                    span(itemprop="aggregateRating") 25
                            .item__link-com
                                a(href="#")
                                    i.icon.icon-bubble_icon
                                    span(itemprop="review") 125
                            .item__link-photo
                                a(href="#")
                                    i.icon.icon-photo_icon
                                    span 125