main.page-main
    include ../components/_subbanner
    .container
        include ../components/_breadcrumbs
        section.mm-partners
            .main-title
                h1= title
            .row
                .cell.cell__lg-8.cell__md-7.cell__xs-12
                    h2 Условия сотрудничества
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                aside.cell.cell__lg-4.cell__md-5.cell__xs-12
                    .text--center
                        h2 Контактная форма
                    .contact-form
                        form
                            .form__group
                                +fieldInput('text', 'name', 'name', 'ФИО *', 'ФИО *', true)
                            .form__group
                                +fieldInput('email', 'email', 'email', 'E-mail *', 'E-mail *', true)
                            .form__group
                                +fieldInput('text', 'phone', 'phone', 'Телефон', 'Телефон', false)
                            .form__group
                                +fieldTextarea('text', 'text', '', 'Ваш комментарий', 3, '', false)
                            .form-submit
                                button.btn.btn--primary.btn--full(type='submit') Отправить
