main.page-main
    include ../components/_subbanner
    .container
        include ../components/_breadcrumbs
        section.mm-sitemap
            .main-title
                h1= title
            ul.mm-sitemap-main
                li: a(href="#") Главная страница
                    ul.second
                        li: a(href="#") Внутренняя типовая страница
                        li: a(href="#") Карты мира
                            ul.third
                                li: a(href="#") Карта России
                                li: a(href="#") Карта России
                                li: a(href="#") Карта России
                                li: a(href="#") Карта России
                li: a(href="#") Помощь
                li: a(href="#") Контакты