main.page-main
    include ../components/_subbanner
    .container
        include ../components/_breadcrumbs
        section.mm-type(itemscope, itemtype="http://schema.org/Article")
            .main-title
                h1(itemprop="headline") Типовая страница Н1
            .row.center__xs
                .cell.cell__lg-9.cell__md-8.cell__xs-12(itemprop="articleBody")
                    h2 Заголовок Н2
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. #[br] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                .cell.cell__lg-3.cell__md-4.cell__xs-12.text--center
                    .mm-type--img
                        img(src="images/image.jpg", alt="", itemprop="image")
            .carousel
                - for (var x = 1; x < 7; x++)
                    .item: img(src="images/image-1.jpg", alt="")
