@font-face {
  font-family: 'mapsme';
  src:
    url('fonts/mapsme.ttf?ltlyu2') format('truetype'),
    url('fonts/mapsme.woff?ltlyu2') format('woff'),
    url('fonts/mapsme.svg?ltlyu2#mapsme') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mapsme' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bubble_icon:before {
  content: "\e900";
}
.icon-add_bubble_icon:before {
  content: "\e901";
}
.icon-arrow_breadcrumps:before {
  content: "\e902";
}
.icon-arrow_down:before {
  content: "\e903";
}
.icon-arrow_left_slider:before {
  content: "\e904";
}
.icon-arrow_right_slider:before {
  content: "\e905";
}
.icon-chef_icon:before {
  content: "\e906";
}
.icon-close_menu_mobile_icon:before {
  content: "\e907";
}
.icon-close_popup_mobile_icon:before {
  content: "\e908";
}
.icon-delete_tag_icon:before {
  content: "\e909";
}
.icon-dislike_icon:before {
  content: "\e90a";
}
.icon-download_icon .path1:before {
  content: "\e90b";
  color: rgb(75, 220, 80);
}
.icon-download_icon .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(75, 220, 80);
}
.icon-download_icon .path3:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(248, 248, 248);
}
.icon-left_arrow_nav:before {
  content: "\e90e";
}
.icon-like_icon:before {
  content: "\e90f";
}
.icon-link_icon:before {
  content: "\e910";
}
.icon-location_icon:before {
  content: "\e911";
}
.icon-menu_mobile_icon:before {
  content: "\e912";
}
.icon-phone_icon:before {
  content: "\e913";
}
.icon-photo_icon:before {
  content: "\e914";
}
.icon-right_arrow_nav:before {
  content: "\e915";
}
.icon-search_mobile_icon:before {
  content: "\e916";
}
.icon-search_white_icon:before {
  content: "\e917";
}
.icon-star_icon:before {
  content: "\e918";
}
.icon-subway_icon:before {
  content: "\e919";
}

