extends layouts/_default

block title
    title Case__fly
    - var title = 'Для бизнеса'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_business

block siteFooter
    include partials/_footer
