extends layouts/_default

block title
    title Case__fly
    - var title = 'Карты мира'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_maps-world

block siteFooter
    include partials/_footer
