extends layouts/_default

block title
    title Case__fly
    - var title = 'Карты России'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_maps

block siteFooter
    include partials/_footer
