extends layouts/_default-m

block title
    title Case__fly
    - var title = 'Ресторан «Веселидзе»'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_object

block siteFooter
    include partials/_footer
