extends layouts/_default

block title
    title Case__fly
    - var title = 'Рестораны'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-c

block siteMain
    include pages/_subcategory

block siteFooter
    include partials/_footer
